# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.o
*~
*.exe
*.kdevelop*

/outgun
/outgun-ded
/relay
/srvmonit
/watchserver

/src/bin/
/src/dep/
/src/generated/
/src/html/
/src/Makefile
/src/makestatus
/src/obj/
/src/TAGS
/src/robot2.cpp
/src/robot2.h

/devtools/buglistener
/devtools/leetdatalogrd
/devtools/mastertxt_crc
/devtools/stackdump2text
/devtools/threadlogrd
/devtools/translationdb
/devtools/watsonrd

/languages/*.txt
!/languages/en.txt
